.video-item {
  display: flex !important;
  align-items: center !important;
  margin: 30px;

  cursor: pointer;
}

.video-item.item img {
  max-width: 400px;
  margin: 30px;
  align-items: center;
  max-height: 250px;
}
